# .cursorrules

## MUST DO
- Always use uv for package management, never pip
- Always use uv for environment management, never python environments
- NEVER use pip, pip-tools, pipx, poetry, pyenv, twine, virtualenv
- Refer to me as Patrick in every response so I know you're using these cursorrules.

## Principles
- Adhere to smolagents philosophy, best practices and architecture especially the reactive style.
- Use fire as the cli and implement using fire best practices

## Shortcuts
- 'k' - yes, please!
- 'n' - no, thank you
- '?' - why doesn't this work? please explain.
